---
import Layout from '@/layouts/AstroPage.astro';
import End from '@/components/ArticleEnd.astro';
const title = '其他媒介版本';
const enTitle = 'Other Media';
const keywords = ['性教育资源'];
const desc = "KnowSex 内容的其他媒介版本。";
const bgPath = "/source/img/om-cover.jpg";
---
<Layout title={title} desc={desc} keywords={keywords} enTitle={enTitle} bgPath={bgPath}>

    <p>考虑到读者的需要，KnowSex 在此页提供部分页面的其他媒介版本，供有需要的读者使用。不过，其他媒介版本内容可能会滞后于网页版。</p>
    <p>印刷版材料可用常规办公打印机或商用打印机进行打印。</p>
    <p>如果您愿意，欢迎您参与对其他媒介使用的问卷反馈。</p>
    <a target="_blank" class="btn btn-outline-secondary" href="https://f.kdocs.cn/w/3uaQFBgx/">参与反馈</a>
    
    <h2>章节内容</h2>
    <table class="table table-hover">
      <tr>
        <th>所属章节</th>
        <th>下载</th>
      </tr>
      <tr>
        <td>人类生殖系统</td>
        <td><a href="人类生殖系统.pdf" download>印刷版 (PDF, A4)</a></td>
      </tr>
    </table>
    
    <h2>非章节内容</h2>
    <table class="table table-hover">
      <tr>
        <th>主题</th>
        <th>下载</th>
      </tr>
      <tr>
        <td>世界艾滋病日宣传页</td>
        <td><a href="世界艾滋病日宣传材料.pdf" download>印刷版 (PDF, A4)</a></td>
      </tr>
    </table>
    
    <div class="mt-3">&nbsp;</div>
    <End />
    <p>本页封面图片作者是 <a target="_blank" href="https://unsplash.com/@rumpf">Christina Rumpf</a>，来自 <a href="https://unsplash.com/photos/XWDMmk-yW7Q">Unsplash</a> 。</p>
    
</Layout>
