---
import Layout from "@/layouts/Index.astro";
import End from "@/components/ArticleEnd.astro";
import { getCollection } from "astro:content";

const title = "性学词典";
const enTitle = "Dictionary of Sexology";
const keywords = ["词典", "名词解释"];
const bgPath = "/source/img/article-bg.jpg";
const desc = "KnowSex 维护的性学词典，提供性学领域相关词汇的名词解释与说明。";

// YYYY-MM-DD
const date = new Date().toLocaleString("zh-CN", {
  timeZone: "Hongkong",
  dateStyle: "short",
});

const { language = "zh-hans" } = Astro.props;

const frontmatter = {
  title: title,
  enTitle: enTitle,
  desc: desc,
  keywords: keywords,
  date: date,
  bgPath: bgPath,
};

const allArticles = await getCollection("dict");
---

<Layout frontmatter={frontmatter} language={language}>
  <style is:global>
    .article-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .article-list-item {
      margin-bottom: 2.5em;
      width: 45%;
      min-width: 300px;
    }
    .article-title a {
      color: #00a99d;
      font-family: var(--sans-font-family);
      font-size: 0.8em;
    }
    .article-author {
      font-family: var(--sans-font-family);
      font-size: 0.9em;
      color: gray;
    }
  </style>
  <script type="application/ld+json" is:inline>
    {
      "@context": "https://schema.org/",
      "@type": "DefinedTermSet",
      "name": "KnowSex 性学词典"
    }
  </script>
  <div class="article-list">
    {
      allArticles.map((article) => (
        <div class="article-list-item">
          <h2 class="article-title">
            <a href={`/dict/${article.slug}`}>{article.data.title}</a>
          </h2>
          <div class="article-desc">{article.data.description}</div>
          <a
            class="article-read-btn"
            href={`/dict/${article.slug}`}
            style=" --bs-btn-bg: black;">
            了解更多
            <i class="bi bi-chevron-double-right" />
          </a>
        </div>
      ))
    }
  </div>
  <End />
  <p style="color: #bbb">
    本页封面图片作者是 <a target="_blank" href="https://unsplash.com/@jjying"
      >JJ Ying</a
    > ，来自 <a target="_blank" href="https://unsplash.com/photos/WmnsGyaFnCQ"
      >Unsplash</a
    > 。
  </p>
</Layout>
