---
import Layout from "@/layouts/Index.astro";
import Card from "@/components/Card.astro";
import BsCardGroup from "@/components/BsCardGroup.astro";
import BsCard from "@/components/BsCard.astro";
// import { getCollection } from "astro:content";
const title = "首页";
const keywords = [""];
const desc =
  "KnowSex 是一个性教育网站，提供通俗的性教育科普读物。KnowSex 致力于向公众普及全面性教育，提供直观、明了的性教育知识和易于获取的性教育资源，内容涵盖性解剖、性生理、性取向、避孕等方方面面，并提供问答帮助服务。";

// YYYY-MM-DD
const date = new Date().toLocaleString("zh-CN", {
  timeZone: "Hongkong",
  dateStyle: "short",
});

const { language = "zh-hans" } = Astro.props;

const frontmatter = {
  title: title,
  desc: desc,
  keywords: keywords,
  date: date,
  isRoot: true,
};

// const allArticles = await getCollection("article");
---

<Layout frontmatter={frontmatter} isRoot="true" language={language}>
  <style is:global>
    #talk-bg {
      background-image: url("/source/img/talk-bg.jpg");
    }
    #std-bg {
      background-image: url("/source/img/dominoes.jpg");
    }
    #pa-bg {
      background-image: url("/source/img/pa-cover.jpg");
    }
    #si-bg {
      background-image: url("/source/img/si-bg.jpg");
    }
    #no1 {
      background-image: url("/source/img/1-bg.jpg");
    }

    #no2 {
      background-image: url("/source/img/2-bg.jpg");
    }

    #no3 {
      background-image: url("/source/img/3-bg.jpg");
    }

    #ex-rd {
      background-image: url("/source/img/exrd-bg.jpg");
    }

    #contraceptive {
      background-image: url("/source/img/contraceptive.jpg");
    }

    #communicate {
      background-image: url("/source/img/talk-bg.jpg");
    }

    #donate-bg {
      background-image: url("../general/encourage/donateCover.jpg");
    }

    #about-bg {
      background-image: url("../general/about/aboutCover.jpg");
    }

    #license-bg {
      background-image: url("../general/copyright/license-cover.jpg");
    }

    #sp-bg {
      background-image: url("/source/img/spbg.jpg");
      background-position-y: 38%;
    }

    #menstrual-cycle {
      background-image: url("/source/img/moon-cycle.jpg");
      background-position-y: 23%;
    }

    .need-icon {
      color: #02776b;
      font-weight: normal;
      font-size: 1.5rem;
      letter-spacing: 3px;
    }

    .need-icon::before {
      content: "";
      margin-right: 0.5em;
      display: inline-block;
      width: 1em;
      height: 1em;
      vertical-align: -0.125em;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    #other-site::before {
      background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e%3csvg width='24' height='24' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M39 34L44 39L39 44' stroke='%2302776b' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12Z' fill='none' stroke='%2302776b' stroke-width='3' stroke-linejoin='round'/%3e%3cpath d='M12 8L20 8C22.2091 8 24 9.79086 24 12V35C24 37.2091 25.7909 39 28 39H44' stroke='%2302776b' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    }

    #article::before {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2302776b' class='bi bi-journal-richtext' viewBox='0 0 16 16'%3e %3cpath d='M7.5 3.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047L11 4.75V7a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 7v-.5s1.54-1.274 1.639-1.208M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5'/%3e %3cpath d='M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2'/%3e %3cpath d='M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z'/%3e %3c/svg%3e");
    }

    .card-url {
      font-size: 0.9em;
      color: #aaa;
      font-family: "Consolas", "Courier New", monospace;
    }

    h1 {
      font-size: 1.3rem !important;
      font-family: var(--sans-font-family);
      font-weight: normal !important;
      color: #107f73 !important;
    }

    .no-warp {
      display: inline-block;
    }
  </style>

  {
    /*
<!-- <p class="bg-light tip-bar" aria-hidden="true">⭐ 你的 <a href="/sub/Encourage.html" style="text-decoration:underline">支持</a> 可以鼓励 KnowSex 的维护与运营。</p> -->
<p class="bg-light tip-bar">🖋️ 网站上次修缮日期 {% now 'local' %}</p>
*/
  }
  {
    /*
  <p class="bg-light tip-bar">
    <span class="darkmode-ignore">ℹ️</span>2024 年 4 月 13
    日（UTC+8）起，我们将实施更新后的<a href="/general/privacy-policy"
      >隐私政策</a
    >，请知悉。
  </p>
    */
  }
  {
    /*
<!-- <p class="bg-light tip-bar"><span class="darkmode-ignore">😥</span> 因商标纠纷，网站即日起撤去纠纷标识，暂时使用“KnowSex”作为网站名称。</p> -->
*/
  }
  {
    /*
<p class="bg-light tip-bar"><span class="darkmode-ignore">✨</span> 请考虑<a href="/general/encourage" style="text-decoration:underline">支持</a>网站的维护与运营。</p>
*/
  }
  <p class="bg-light tip-bar" style="text-align: left;">
    <span class="darkmode-ignore">🔖</span> 请收藏我们的网址 <code
      >knowsex.net</code
    > 以备不时之需。<a
      href="https://post.knowsex.net/archives/how-to-visit-again"
      >了解如何再度访问...</a
    >
  </p>
  <div id="domain-notice"></div>
  <div class="browser_tip"></div>
  {
    language == "zh-tw" && (
      <p class="bg-light tip-bar">
        <span class="darkmode-ignore">ℹ️</span>{" "}
        本页面由自动化程序从简体中文转换而来，如发现错误，欢迎
        <a href="/general/communicate">报告给我们</a>。
      </p>
    )
  }
  <br />
  <div style="color:grey; font-size:.8em;">构建日期 {date}</div>
  <Card
    href="main/human-reproductive-system"
    bgID="no1"
    title="人类生殖系统"
    enTitle="Human Reproductive System"
  />
  <Card
    href="main/puberty-and-adolescence"
    bgID="pa-bg"
    title="青春期"
    enTitle="Puberty and Adolescence"
  />
  <Card
    href="main/menstrual-cycle"
    bgID="menstrual-cycle"
    title="月经周期"
    enTitle="Menstrual Cycle"
  />
  <Card
    href="main/sexual-activity"
    bgID="no2"
    title="性行为"
    enTitle="Sexual Activity"
  />
  <Card
    href="main/sexual-physiology"
    bgID="sp-bg"
    title="性生理"
    enTitle="Sexual Physiology"
  />
  <Card
    href="main/sexual-orientation"
    bgID="no3"
    title="性取向"
    enTitle="Sexual Orientation"
  />
  <Card
    href="main/contraception"
    bgID="contraceptive"
    title="避孕"
    enTitle="Contraceptive"
  />
  <Card
    href="main/std"
    bgID="std-bg"
    title="性传播疾病"
    enTitle="Sexually Transmitted Diseases"
  />
  <Card
    href="main/sex-and-information"
    bgID="si-bg"
    title="性与信息"
    enTitle="Sex and Information"
  />
  <Card
    href="general/communicate"
    bgID="talk-bg"
    title="来信沟通"
    enTitle="Communicate"
  />

  <h1 class="mt-5 mb-3">KnowSex：一份通俗的性教育科普读物</h1>
  <p>
    性贯穿生命始终，每个人都应接受性教育。但中文性教育的线上资源不尽丰富，且分布零散。KnowSex
    致力于向公众普及<a
      href="https://www.who.int/zh/news-room/questions-and-answers/item/comprehensive-sexuality-education"
      ><span class="no-warp">全面</span><span class="no-warp">性教育</span></a
    >，提供直观、明了的性教育知识和易于获取的性教育资源，解答群众困惑，并希望藉此减少一些社会问题的发生。
  </p>
  <p>
    我们依据若干分类撰写不同主题的性教育内容，并在版权合规前提下翻译有价值的外文性教育资源。得益于互联网省去了出版成本，我们能以低得多的成本将性知识呈现给本站的百万读者。
  </p>
  <!-- <h2 class="need-icon mt-5 mb-4" id="article">文章</h2>
  <div class="article-list">
    {
      // allArticles.map((article) => (
      //   <div class="article-list-item">
      //     <h2 class="article-title">
      //       <a href={`/article/${article.slug}`}>{article.data.title}</a>
      //     </h2>
      //     <div class="article-author">撰写 / {article.data.author}</div>
      //     <div class="article-desc">{article.data.description}</div>
      //     <a
      //       class="article-read-btn"
      //       href={`/article/${article.slug}`}
      //       style=" --bs-btn-bg: black;">
      //       阅读全文
      //       <i class="bi bi-chevron-double-right" />
      //     </a>
      //   </div>
      // ))
    }
  </div> -->
  <h2 class="need-icon mt-5 mb-4" id="other-site">附属站点</h2>
  <BsCardGroup exClass="mb-4">
    <BsCard
      title="中文性教育资源网"
      url="res.knowsex.org"
      desc="收录有性教育素材、网站、资料和社群资源。"
    />
    <BsCard
      title="KnowSex Post"
      url="post.knowsex.net"
      desc="KnowSex 官方博客，发布网站动态和性教育信息。"
    />
  </BsCardGroup>

  <blockquote>
    <p>
      在向青少年传授性卫生知识时，男女同学要一道听讲，不要分开。要很自然地做好这件事，不要试图回避，更不要搞得神秘化。
    </p>
    <footer>周恩来</footer>
  </blockquote>
  <blockquote>
    <p>
      近几十年来，中国青少年性发育成熟年龄不断提前，性观念越来越趋于开放，对婚前性行为持接纳态度的比例较高，但同时他们普遍缺乏性与生殖健康知识和安全性行为意识。在此背景下，青少年发生性传播感染、意外妊娠、人工流产以及遭受性和性别暴力的风险不断增加，因此性教育至关重要。
    </p>
    <footer>联合国教科文组织&emsp;联合国人口基金</footer>
  </blockquote>
  <script is:inline>
    const domains = [
      "knowsex.net",
      "knowsex.vercel.app",
      "knowsex.on.fleek.co",
      "knowsex.github.io",
      "knowsex.pages.dev",
      "knowsex.prvcy.page",
      "knowsex.eu.org",

      "sex.edu.hoilai.com",
      "sex.edu.laifun.cn",
      "knowsex.laifun.cn",
    ];
    const domainCheckHostname = window.location.hostname;
    var domainCheckValid = false;
    domains.forEach(function (domain) {
      if (
        domainCheckHostname === domain ||
        domainCheckHostname.endsWith("." + domain)
      ) {
        domainCheckValid = true;
      }
    });
    if (!domainCheckValid) {
      if (document.getElementById("domain-notice")) {
        document.getElementById("domain-notice").innerHTML =
          `<p class="bg-light tip-bar"><span class="darkmode-ignore">ℹ️</span> 您正在访问非官方提供的镜像网站。所提供的内容可能已经陈旧，最新页面请访问 <a href="https://knowsex.net/">knowsex.net</a>。</p>`;
      }
    }
  </script>
</Layout>
