---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter, language } = Astro.props;
const { tags: keywords, description } = frontmatter;

const isRoot = false;
const title = isRoot ? "KnowSex" : frontmatter.title + " - KnowSex 性学词典";

const baseLayoutProps = {
  title,
  keywords,
  description,
  isRoot,
  language,
};

const jsonLd = {
  "@context": "https://schema.org/",
  "@type": "DefinedTerm",
  name: frontmatter.title,
  description: frontmatter.description,
  inDefinedTermSet: {
    "@type": "DefinedTermSet",
    name: "KnowSex 性学词典",
    url: "https://knowsex.net/dict/",
  },
};
---

<BaseLayout {...baseLayoutProps}>
  <article>
    <script
      type="application/ld+json"
      set:html={JSON.stringify(jsonLd)}
      is:inline
    />
    <div class="main article-page dict-page">
      <div class="article-meta">
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">KnowSex</a></li>
            <li class="breadcrumb-item"><a href="/dict">性学词典</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              {frontmatter.title}
            </li>
          </ol>
        </nav>
        <h1>{frontmatter.title}</h1>
        <div class="article-author">
          <b>撰写</b> / {
            frontmatter.author.map((author: string, index: number) => (
              <span>
                <span>{author}</span>
                {index < frontmatter.author.length - 1 && "，"}
              </span>
            ))
          }
        </div>
      </div>
      <slot />

      <div class="article-tags">
        <ul class="list-inline">
          <li class="list-inline-item"><span>标签</span></li>{
            frontmatter.tags.map((tag: string) => {
              return (
                <li class="list-inline-item">
                  <a href={"/dict/tag/" + tag}>{tag}</a>
                </li>
              );
            })
          }
        </ul>
      </div>
      <!-- <hr/> -->
    </div>
  </article>
</BaseLayout>
