---
import HeadImage from "@/components/HeadImage.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter, language } = Astro.props;

// 如果是全站首页
const isRoot = frontmatter.title == "首页" ? true : false;
const title = isRoot ? "KnowSex" : frontmatter.title + " - KnowSex";

const baseLayoutProps = {
  title,
  keywords: frontmatter.keywords,
  description: frontmatter.desc,
  isRoot,
  author: frontmatter.author,
  review: frontmatter.review,
  language,
  bgPath: frontmatter.bgPath,
};
---

<BaseLayout {...baseLayoutProps}>
  <article itemscope="" itemtype="http://schema.org/Article">
    <meta itemprop="image" content={frontmatter.bgPath} />
    {
      !frontmatter.removeCover && (
        <HeadImage
          title={frontmatter.title}
          enTitle={frontmatter.enTitle}
          bgPath={frontmatter.bgPath}
        />
      )
    }
    <div class="main">
      {
        frontmatter.author && (
          <div class="main-meta-author">
            <div>
              {frontmatter.author.map((author: string, index: number) => (
                <span
                  itemprop="author"
                  itemscope
                  itemtype="https://schema.org/Person">
                  <span itemprop="name">{author}</span>
                  {index < frontmatter.author.length - 1 && "，"}
                </span>
              ))}
              {" / 撰写"}
            </div>
            <div>
              {frontmatter.review && frontmatter.review.join("，") + " / 审校"}
            </div>
          </div>
        )
      }
      <slot />
    </div>
  </article>
</BaseLayout>
